<link rel="stylesheet" href="/singup.css">
<div class="parent clearfix">
    <div class="bg-illustration">
      <img src="/cc.jpg" alt="logo">
 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 
 
      <center>
          <h2>Welcome Back!</h2>
          &nbsp;&nbsp;&nbsp;&nbsp;
          &emsp;&emsp;&emsp;&emsp;
          <h3><p>
            To succeed in life, extracurricular activities are crucial. They make you a <br>  <br>complete person and help you develop transferable skills in the real world.<br>
            &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;<br>Extracurricular activities can be a great way to explore your passions and interests<br>
            <br>They can also help you grow in areas that you may not be able to explore on your own.
            <br>  <br>  <br> with open skies you can join a lot of uemf's club according to your desire and your choice &#128519;</p></h3>
          </center>

    </div>
    
    <div class="login">
      <div class="container">
        <form action="/edit/Adminn/<%=id%>" method="post">
      <h1>&emsp;&emsp;&emsp;create your account</h1>
    
        <label for="firstname">first Name:</label>
        <input type="text" id="firstname4" name="firstname4"  value="<%=firstname4%>">

        <label for="lastname">last Name:</label>
        <input type="text" id="lastname4" name="lastname4"  value="<%=lastname4%>">

        <label for="phonenumber">phone number:</label>
        <input type="text" id="phone number4" name="phonenumber4"  value="<%=phonenumber4%>">
        
        <label for="email">Email:</label>
        <input type="email" id="email4" name="email4"  value="<%=email4%>">
        
        <label for="password">Password:</label>
        <input type="password" id="password4" name="password4"  value="<%=password4%>">
        <label for="retypepassword">retypepassword:</label>
        <input type="password" id="retypepassword4" name="retypepassword4"  value="<%=retypepassword4%>">

        
      
      </fieldset>
     
      
      <div>
        <div class="input_field checkbox_option">
          <input type="checkbox" id="cb2" name="cb2"   label for="cb1">I agree with terms and conditions</label>
        </div>
      </div>
      </fieldset>
      <div class="ls">
        <button> <a type="submit" class="contact" > submit</a></button>
      </div>
    </form>
    
</div>
</div>
</div>